/* Slide out to the right and fade out for the landing page */
@keyframes slideOutRightFadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(4%);
    }
}

/* Slide in from the right and fade in for the main page */
@keyframes slideInRightFadeIn {
    from {
        opacity: 0;
        transform: translateX(-4%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Slide in from the top and fade in */
@keyframes slideIn {
    from {
        transform: translateY(-20px); /* Start above */
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Slide out to the top and fade out */
@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

/* Animation classes */
.slide-out-right-fade-out {
    animation: slideOutRightFadeOut 0.4s forwards;
    /* Change duration as needed */
}

.slide-in-right-fade-in {
    animation: slideInRightFadeIn 0.4s forwards;
    /* Change duration as needed */
}