
/* Fonts */
@font-face { 
  font-family: "SF Pro";
  src: url('../fonts/SF-Pro-Text-Thin.otf') format('opentype');
  font-weight: 300;
}
@font-face { 
  font-family: "SF Pro Display - Ultralight";
  src: url('../fonts/SF-Pro-Display-Ultralight.woff2') format('opentype');
}

* {
  --imessage-blue: #278cff;
  --imessage-gray: rgb(239, 239, 239);
  --imessage-gray-dark: rgb(183, 183, 183);
  --delete-red: rgb(252, 113, 113);
  font-family: "SF Pro";
  margin: 0;
  padding: 0;
}

/* App Background */
.app-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: white;
}

/* App */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 10%;
}

/* App Title */
.app-title {
  height: auto;
  margin: 0 0 14px 0;
  padding: 0;
  font-family: 'SF Pro', sans-serif;
  font-weight: 300;
  font-size: 70px;
} 

/* App Header - Title & Logo */
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

/* App Logo */
.app-logo {
  height: 95px;
  width: 90px;
  margin-left: 25px;
  padding: 0px;
}

/* App Slogan */
.app-slogan {
  margin: 0 0 38px 0;
  padding: 0px;
  font-family: 'SF Pro Display - Ultralight', sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: black;
}

/* Get Started Button */
.get-started-button {
  padding: 16px 18px;
  font-family: "SF Pro";
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  box-shadow: 6px 3px 4.5px gray;
  background-color: rgb(120, 166, 251);
  transition: background-color 0.2s ease;
  color:rgb(255, 255, 255);
}
  /* Get Started Button - On Click */
  .get-started-button:active {
    background-color: rgba(46, 118, 253, 0.8)
  }

/* Main Page */
.main-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 16px;
  gap: 20px;
}

/* Main Page - Both Sides */
.main-left, .main-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  min-height: 600px;
  border-radius: 10px;
  padding: 20px;
}

/* Main Page - Left Side */
.main-left {
  display: flex;
  height: 100%; 
  width: 400px;
  transform: translateX(40px);
}

/* Main Page - Right Side */
.main-right {
  margin-top: 35px;
  width: 500px;
  background-color: var(--imessage-gray);
}

/* Main Left Side: User Tasks & Input ------------------------------- */

/* Form: Task & Details Input Field */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Input Text Fields for Task, Details */
input {
  font-family: "SF Pro Display - Ultralight";
  font-weight: 500;
  width: 100%;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}
  /* Input Text Fields - Placeholder */
  .input-field::placeholder {
    color: rgb(162, 162, 162);
  }

/* User Task Input Wrapper (Input Field, Toggle Button) */
.user-task-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Toggle Container with 'Optional: Add Details' & Toggle Button */
.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0 5px;
  width: 100%;
  font-size: 14px;
}

/* Triangle for Dropdown */
.triangle {
  display: flex;
  width: 0;
  height: 0;
  margin-top: 3px;
  margin-left: 6px;
  border-left: 4.5px solid transparent; 
  border-right: 4.5px solid transparent; 
  border-bottom: 8px solid rgb(175, 175, 175); 
  transform: rotate(180deg);
  cursor: pointer;
}
  .triangle.open {
    transform: rotate(0deg); /* Flip the triangle */
  }

/* Details Input Field */
.details-input {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
  /* Details Input Field - Hiding the input field, plays reverse animation */
  .details-input.hiding {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

/* User Tasks Container */
.user-tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 16px;
  margin-top: 20px;
  padding: 15px;
}

/* Wrapper for User Task List & Delete Button */
.user-task-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* User Task List */
ol.user-task-list {
  counter-reset: my-counter; /* Reset the counter for the numbering */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  font-size: 32px;
}

/* User Task Delete Button */
.user-task-delete-button {
  aspect-ratio: 1/1;
  width: 38px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--delete-red);
  font-family: "SF Pro";
  font-weight: 900;
  color:white;
}

/* Individual User Task's Numbered Circle */
li.user-task:before {
  content: counter(my-counter); /* Increment the counter */
  counter-increment: my-counter; 
  display: inline-block;
  aspect-ratio: 1/1;
  height: 25px; 
  line-height: 25px; 
  text-align: center; 
  border-radius: 50%; 
  background-color: rgb(0, 92, 221); 
  color: #fff; 
  font-weight: 600; 
  margin-right: 10px; 
}





/* Main Right Side: AI Suggestions ------------------------------- */

/* Main Right Header: Chunkify AI Suggestions */
.main-right h2 {
  display: flex;
  align-self: center;
  font-size: 28px;
  margin-top: 5px;
}

/* AI Pop-Up Container, appears after user inputs task */ 
.ai-popup-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: auto;
  height: auto;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 700;
}

/* AI Pop-Up Title */
.ai-popup-container h2 {
  font-weight: normal;
  margin: 0 0 5px 0;
}

/* Submit Button */
.submit-button {
  aspect-ratio: 1/1;
  margin-left: 10px;
  width: 45px;
  border: none;
  background-image: url('../images/send-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

/* List of AI Tasks Suggestions */
ol.ai-task-list {
  counter-reset: my-counter; /* Reset the counter for the numbering */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Individual Task */
li {
  margin: 5px;
} 

/* Individual AI Task's Numbered Circle */
li.ai-task:before {
  content: counter(my-counter); /* Increment the counter */
  counter-increment: my-counter; 
  display: inline-block;
  aspect-ratio: 1/1;
  height: 25px; 
  line-height: 25px; 
  text-align: center; 
  border-radius: 50%; 
  background-color: var(--imessage-gray-dark); 
  color: #fff; 
  font-weight: 600; 
  margin-right: 10px; 
}

/* AI Pop-Up Buttons Container (Add, Refresh, Delete) */
.ai-popup-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 7px;
  margin-top: 7px;
}

/* AI Pop-Up Buttons (Add, Refresh, Delete)  */
.ai-popup-button {
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: white;
}

/* Login Page: Shown when user is not logged in Google yet. */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Google Sign In Button */
.google-sign-in-button {
  display: flex;
  flex-direction: row;
  padding: 22px 24px;
  font-family: "SF Pro";
  font-size: 24px;
  font-weight: 700;
  border: 0.7px solid rgb(82, 82, 82);
  box-shadow: 5px 4px 3px rgb(182, 182, 182);
  border-radius: 40px;
  background-color: white;
  transition: background-color 0.8s ease, transform 0.8s ease;
}
  /* Google Sign In Button - On Click */
  .google-sign-in-button:active {
    transform: translate(2px,2px);
    box-shadow: 3.3px 2.3px 3px rgb(182, 182, 182);
    background-color: rgb(241, 241, 241);
  }
  /* Google Logo (For Sign In Button) */
  .google-logo {
    display: flex;
    align-self: center;
    justify-self: center;
    aspect-ratio: 1/1;
    width: 30px;
    margin-right: 14px;
  }

  /* Google Profile Picture */
  .google-profile-picture {
    position: absolute;
    top: 10px;
    right: 10px;
    aspect-ratio: 1/1;
    width: 50px;
    border: 4px solid rgb(207, 207, 207);
    border-radius: 50%;
    margin-right: 10px;
  }

