
/* Fonts */
@font-face { 
  font-family: "SF Pro";
  src: url('fonts/SF-Pro-Text-Thin.otf') format('opentype');
  font-weight: 300;
}
@font-face { 
  font-family: "SF Pro Display - Ultralight";
  src: url('fonts/SF-Pro-Display-Ultralight.woff2') format('opentype');
}

/* App Background */
.app-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: white;
  color: black;
}

/* App */
.app {
  height: 100%;
  margin-top: 10%;
}

/* App Title */
.app-title {
  height: auto;
  margin: 0 0 14px 0;
  padding: 0;

  font-family: 'SF Pro', sans-serif;
  font-weight: 300;
  font-size: 70px;
}

/* App Header - Title & Logo */
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* App Logo */
.app-logo {
  aspect-ratio: 1/1;
  width: 110px;
  margin: 0 0 0 0;
  padding: 0;
}

/* App Slogan */
.app-slogan {
  margin: 0 0 38px 0;
  padding: 0px;
  font-family: 'SF Pro Display - Ultralight', sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: black;
}

/* Get Started Button */
.get-started-button {
  padding: 16px 18px;
  font-family: "SF Pro";
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  box-shadow: 6px 3px 4.5px gray;
  background-color: rgb(120, 166, 251);
  transition: background-color 0.2s ease;
  color:rgb(255, 255, 255);
}
  /* Get Started Button - On Click */
  .get-started-button:active {
    background-color: rgba(46, 118, 253, 0.8)
  }